.container {
  composes: container from "../burger-ingredients/burger-ingredients.module.css";
  padding: 0;
  align-items: flex-end;
  margin-right: auto;
}

.list {
  composes: list from "../burger-constructor/burger-constructor.module.css";
  margin-top: 0;
}
