.wrapper {
  composes: mr-15 from global;
  width: 320px;
}

.nav {
  composes: mb-20 from global;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text {
  composes: text text_type_main-default text_color_inactive from global;
  opacity: 0.4;
  text-align: left;
}

.link {
  composes: text text_type_main-medium text_color_inactive from global;
  line-height: 64px;
  text-decoration: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.linkActive {
  color: #fff;
}
