{
  "env": {
      "browser": true,
      "es2021": true,
      "jest/globals": true
  },
  "overrides": [
    {
      "files": [
        "**/*.spec.ts",
        "**/*.spec.tsx"
      ],
      "env": {
        "jest": true
      }
    }
  ],
  "extends": [
      "plugin:react/recommended",
      "airbnb"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
      "ecmaFeatures": {
          "jsx": true
      },
      "ecmaVersion": 13,
      "sourceType": "module"
  },
  "plugins": [
      "react",
      "@typescript-eslint",
      "jest"
  ],
  "rules": {
    "no-extraneous-dependencies": "off",
    "no-unused-vars": ["error", { "vars": "all", "args": "none", "ignoreRestSiblings": false }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx", ".ts"] }],
    "react/function-component-definition": [2, { "namedComponents": "arrow-function" }],
    "no-console": "off",
    "no-plusplus":"off",
    "no-param-reassign" :"off",
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ]
      }
    ],
    "no-control-regex": 0,
    "no-useless-escape": 0,
    "func-names": [
      "error",
      "never"
    ],
    "consistent-return": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
   ]
  },
  "settings": {
    "import/resolver": {
        "node": {
            "extensions": [".js", ".jsx", ".ts", ".tsx"],
            "moduleDirectory": ["node_modules", "src/"]
        }
    }
},
}
