.form {
  composes: mb-20 from global;
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
}

.form div {
  width: 100%;
}

.form div div {
  width: unset;
}
