.feedItem {
  composes: p-6 from global;
  text-decoration: none;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, min-content);
  background: #1c1c21;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
}

.orderNumber {
  composes: text text_type_digits-default from global;
  justify-self: flex-start;
}

.orderDate {
  composes: text text_type_main-default text_color_inactive from global;
}

.orderName {
  composes: text text_type_main-medium mt-6 mb-6 from global;
  grid-column: 1/3;
  grid-row: 2;
  text-align: left;
}

.imgContainer {
  grid-column: 1;
  grid-row: 3;
  text-align: left;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  max-width: 100%;
}

.imgContainer div {
  display: flex;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
  box-sizing: border-box;
  margin-right: -20px;
  position: relative;
}

.imgContainer img {
  width: 62px;
  height: 62px;
  margin: auto;
  border-radius: 50%;
  background-color: #000;
  object-fit: cover;
}

.count {
  composes: text text_type_digits-default from global;
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 62px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(28, 28, 33, 0.6);
}
