.wrapper {
    composes: pl-25 pr-25 pb-15 from global;
    width: 720px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.img {
    width: 480px;
}

.title {
    composes: mt-4 mb-8 text_type_main-medium from global;
}

.grid {
    composes: text text_type_main-default text_color_inactive from global;
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.digit {
    composes: text text_type_digits-default from global;
}