.container {
  composes: pt-10 from global;
  display: flex;
  flex-direction: column;
  justify-self: end;
  max-height: calc(100vh - 88px);
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
}

.container::-webkit-scrollbar {
  width: 8px;
  background-color: #2f2f37;
}

.container::-webkit-scrollbar-thumb {
  background: #8585ad;
  height: 50%;
}

.title {
  composes: text text_type_main-large text_color_primary mb-5 from global;
}

.tabs {
  composes: mb-10 from global;
  display: flex;
  max-width: 100%;
}

.list {
  composes: pr-2 from global;
  list-style: none;
  height: 100%;
  margin: 0;
  padding-left: 0;
  overflow-y: scroll;
}

.list::-webkit-scrollbar {
  width: 8px;
}

.list::-webkit-scrollbar-track {
  background-color: #2f2f37;
}

.list::-webkit-scrollbar-thumb {
  background-color: #8585ad;
  height: 80%;
}

.grid {
  composes: pt-6 pb-10 pl-4 pr-2 from global;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 24px;
  row-gap: 32px;
}

.grid:last-of-type {
  padding-bottom: 0;
}

.gridTitle {
  composes: text text_type_main-medium text_color_primary from global;
}

.item {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.image {
  width: calc(100% - 32px);
}

.price {
  composes: mt-1 mb-1 text text_type_digits-default from global;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}

.text {
  composes: text_type_main-default from global;
}

.totalWrapper {
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: calc(100% - 40px);
  }

  .tabs {
    width: 100%;
  }

  .tabs div {
    width: calc(100% / 3);
    padding: 16px 0;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
    max-width: 100%;
  }

  .list {
    width: calc(100% - 16px);
  }

  .list::-webkit-scrollbar {
  }

  .list::-webkit-scrollbar-track {
  }

  .list::-webkit-scrollbar-thumb {
  }

  .totalWrapper {
    composes: pt-4 pb-4 pl-2 pr-2 from global;
    display: flex;
    background-color: #1c1c21;
    justify-content: flex-end;
    column-gap: 16px;
  }

  .totalWrapper svg {
    width: 36px;
    height: 36px;
  }
}
